#imagePlaceholder0 {
  float: left;
  margin: 0;
  margin-left: 20px;
  padding: 12px;
  max-width: : 24;
  background-size: cover;
  opacity: 0.6;
  margin-top: 4px;



  background-image: url("images/Profile.png");
}

#imagePlaceholder1{
  float: left;
  margin: 0;
  margin-left: 20px;
  padding: 12px;
  max-width: : 24;
  background-size: cover;
  opacity: 0.6;
  margin-top: 4px;

  background-image: url("images/Experience.png");
}

#imagePlaceholder2 {
  float: left;
  margin: 0;
  margin-left: 20px;
  padding: 12px;
  max-width: : 24;
  background-size: cover;
  opacity: 0.6;
  margin-top: 4px;

  background-image: url("images/Projects.png");
}

#imagePlaceholder3 {
  float: left;
  margin: 0;
  margin-left: 20px;
  padding: 12px;
  max-width: : 24;
  background-size: cover;
  opacity: 0.6;
  margin-top: 4px;

  background-image: url("images/Network.png");
}

#imagePlaceholder4  {
  float: left;
  margin: 0;
  margin-left: 20px;
  padding: 12px;
  max-width: : 24;
  background-size: cover;
  opacity: 0.6;
  margin-top: 4px;

  background-image: url("images/Languages.png");
}

#imagePlaceholder5 {
  float: left;
  margin: 0;
  margin-left: 20px;
  padding: 12px;
  max-width: : 24;
  background-size: cover;
  opacity: 0.6;
  margin-top: 4px;

  background-image: url("images/Education.png");
}

#imagePlaceholder6 {
  float: left;
  margin: 0;
  margin-left: 20px;
  padding: 12px;
  max-width: : 24;
  background-size: cover;
  opacity: 0.6;
  margin-top: 4px;

  background-image: url("images/Other.png");
}

#imagePlaceholderDocument0 {
  float: left;
  margin: 0;
  margin-left: 8px;
  padding: 12px;
  max-width: : 30px;
  opacity: 1.0;
  margin-top: 4px;

  /*background-image: url("images/Document.png");*/
}

#imagePlaceholderDocument1 {
  float: left;
  margin: 0;
  margin-left: 8px;
  padding: 12px;
  max-width: : 30px;
  opacity: 1.0;
  margin-top: 4px;
}

#imagePlaceholderDocument2 {
  float: left;
  margin: 0;
  margin-left: 8px;
  padding: 12px;
  max-width: : 30px;
  opacity: 1.0;
  margin-top: 4px;
}

#imagePlaceholderDocument3 {
  float: left;
  margin: 0;
  margin-left: 8px;
  padding: 12px;
  max-width: : 30px;
  opacity: 1.0;
  margin-top: 4px;
}

#imagePlaceholderDocument4 {
  float: left;
  margin: 0;
  margin-left: 8px;
  padding: 12px;
  max-width: : 30px;
  opacity: 1.0;
  margin-top: 4px;
}

#descImage {
  /*position: static;*/
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  background-size: cover;

  opacity: 1.0;
  /*background-color: #111111;*/
  /*background-image: url("images/Edward_ProfilePic.png");*/
}
