@font-face { font-family: RalewayReg; src: url('Raleway/Raleway-Regular.ttf'); }
@font-face { font-family: RalewayBld; src: url('Raleway/Raleway-Bold.ttf'); }
@font-face { font-family: RalewayMed; src: url('Raleway/Raleway-Medium.ttf'); }
@font-face { font-family: RalewayRegIta; src: url('Raleway/Raleway-Italic.ttf'); }

body {
  background-color: #A3ACC2;
  /*zoom: 0.75;
    -moz-transform: scale(0.75);*/
}

.bothWindows{
  width: 700px;
  height: 500px;
  /*background-color: #333333;*/
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.finderTopBar {
  position: absolute;

  width:700px;
  height: 70px;
  background-image: url("images/finderTopBar.png");
  background-size: cover;

  display: block;
  margin-left: auto;
  margin-right: auto;

}
.finderTopBarIcon {
  float: left;
  margin: 0;
  margin-left: 9px;
  padding: 12px;
  max-width: 10px;
  /*height: 20px;*/
  background-size: contain;
  opacity: 1.0;
  margin-top: 8px;

  background-image: url("images/folder.png");
}

.headerDisplay {
  height: 35px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.finderTopBarText {
  margin-left: 0;
  height: 35px;
  width: 200px;
  overflow: hidden;
  position: absolute;
}

.finderTopBarText p {
  /*text-align: center;*/
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 1px;
  /*margin-top: 5px;*/
  font-family: RalewayReg, sans-serif;
}

/*#profileDiv {
  height: 35px;
  width: 100px;
  overflow: hidden;
  padding-left: 69px;
  position: absolute;
}

#profileDiv p {
  font-size: 18px;
  margin-top: 20px;
  line-height: 1px;
  font-family: RalewayMed, sans-serif;

}*/

.bottomElemeents {
  /*background-color: #555555;*/
  padding-top: 0;
  margin-top: 70px;
  width: 700px;
  height: 430px;
}



.finderSideBar {
  /*padding-top: 100px;*/
  float: left;
  width: 150px;
  height: 430px;

  background-size: cover;

  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("images/finderSideBar.png");
}

.finderFilesBar {
  /*padding-top: 100px;*/
  float: left;
  width: 200px;
  height: 430px;
  background-size: cover;

  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("images/finderFilesBar.png");
}

.finderDescriptionBar {
  /*padding-top: 100px;*/
  float: left;
  width: 350px;
  height: 430px;
  /*background-size: cover;

  display: block;
  margin-left: auto;
  margin-right: auto;*/
  background-image: url("images/finderDescriptionBar.png");
  /*border-style: solid;
  border-left-width: 2px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-color: #CCCCCC;*/
}

#findSideTopBar {
  height: 25px;
  width: 100px;
  margin-left: 12px;
  /*margin-top: -15px;*/

  font-family: RalewayBld, sans-serif;
  font-size: 15px;
  color: #666666;

}

#findSideTopBar p {

}

#myGroup0 {
  /*margin: 0 auto;*/
  /*position: relative;*/
  background-color: #eef2f2;
  height: 32px;
  width: 198px;
}

#myGroup1 {
  /*margin: 0 auto;*/
  /*position: relative;*/
  background-color: #eef2f2;
  height: 32px;
  width: 198px;
}
#myGroup2 {
  /*margin: 0 auto;*/
  /*position: relative;*/
  background-color: #eef2f2;
  height: 32px;
  width: 198px;
}
#myGroup3 {
  /*margin: 0 auto;*/
  /*position: relative;*/
  background-color: #eef2f2;
  height: 32px;
  width: 198px;
}

#myGroup4 {
  /*margin: 0 auto;*/
  /*position: relative;*/
  background-color: #eef2f2;
  height: 32px;
  width: 198px;
}
#myGroup5 {
  /*margin: 0 auto;*/
  /*position: relative;*/
  background-color: #eef2f2;
  height: 32px;
  width: 198px;
}
#myGroup6 {
  /*margin: 0 auto;*/
  /*position: relative;*/
  background-color: #eef2f2;
  height: 32px;
  width: 198px;
}

#myFiles0 {
  height: 32px;
  width: 198px;
  color: #333333;

}

#myFiles1 {
  height: 32px;
  width: 198px;
  color: #333333;

}

#myFiles2 {
  height: 32px;
  width: 198px;
  color: #333333;

}

#myFiles3 {
  height: 32px;
  width: 198px;
  color: #333333;

}

#descReadmeTutorial {

  /*background-color: #FFFFFF;*/
  height: 430px;
  width: 350px;
  bottom: 0;
}

#descDescription {

  margin-top: 0px;
  /*padding-top: -30px;*/
}

#descDescription p{
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 15px;
  text-align: left;
  font-size: 13px;
  font-family: RalewayReg, sans-serif;
  color: #333333;

}
#descDescription h1{
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 20px;
  font-family: RalewayReg, sans-serif;
  color: #333333;

}
#descDescription h2{
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -12px;
  text-align: center;
  font-size: 14px;
  font-family: RalewayRegIta, sans-serif;
  color: #333333;

}

#myProfile p {

}



#profileDiv {
  height: 35px;
  width: 100px;
  overflow: hidden;
  padding-left: 50px;
  position: absolute;
}

#profileDiv p {
  font-size: 14px;
  margin-top: 17px;
  line-height: 1px;
  font-family: RalewayMed, sans-serif;

}

#filesDiv {
  height: 32px;
  width: 178;
  overflow: hidden;
  padding-left: 40px;
  position: absolute;
  /*background-color: #CCCCCC;*/
  /*opacity: 0.3;*/
}

#filesDiv p {
  font-size: 14px;
  margin-top: 16px;
  line-height: 0px;
  font-family: RalewayMed, sans-serif;
  /*color: #333333;*/

}

#datesContainer {
  margin: 0px auto;
  /*bottom: 0;*/
  height: 72px;
  width: 300px;
  /*background-color: #111111;*/
}
#datesTitle {
  line-height:  3px;

  float: left;
  height: 72px;
  text-align: right;
  font-family: RalewayMed, sans-serif;
  color: #888888;
  font-size: 12px;

  width: 90px;

}
#datesText {
  line-height:  3px;
  margin-left: 10px;
  float: left;
  height: 72px;
  width: 200px;
  text-align: left;
  color: #333333;
  font-size: 12px;

  font-family: RalewayMed, sans-serif;

}

#chartEnclosure {
  margin-left: 40px;
  width: 250px;
  height: 250px;
  /*zoom: 1.0;
    -moz-transform: scale(1.0);*/
  /*height: 400px;
  width: 400px;*/
  position: absolute;
  opacity: 0;
}
#separator {
  /*border-style: solid;
  border-left-width: 2px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-color: #CCCCCC;*/
}
