


body {

  background-image: url("../images/triangulated-image.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: hidden;

}

#bodyBackground {
  height: 100%;
  width: 100%;
  position:absolute;

}

@font-face { font-family: RalewayReg; src: url('../Raleway/Raleway-Regular.ttf'); }
@font-face { font-family: RalewayBld; src: url('../Raleway/Raleway-Bold.ttf'); }
@font-face { font-family: RalewayMed; src: url('../Raleway/Raleway-Medium.ttf'); }
@font-face { font-family: RalewayRegIta; src: url('../Raleway/Raleway-Italic.ttf'); }


.backIcons {
  width: 160px;
  height: 45px;
  margin: auto;
  position: absolute;
  left: 35px; bottom: 20px;
  z-index: 2;
}

#finderReturnIcon {
  height: 70px;
  width: 70px;
  float: left;
  background-image: url();
}

#backShadow{

  width: 600px;
  height: 450px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

}

.bothWindows{
  width: 600px;
  height: 450px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  -webkit-filter: drop-shadow(0 0 20px rgba(0,0,0,.5));
  -moz-filter: drop-shadow(0 0px 20px  rgba(0,0,0,.5));
  -ms-filter: drop-shadow(0 0px 20px  rgba(0,0,0,.5));
  -o-filter: drop-shadow(0 0px 20px  rgba(0,0,0,.5));
  filter: drop-shadow(0 0px 20px  rgba(0,0,0,.5));

}


.finderTopBar {
  position: absolute;
  width:600px;
  height: 70px;
  background-image: url("../images/finderTopBar.png");
  background-size: cover;

  display: block;
  margin-left: auto;
  margin-right: auto;

}
.finderTopBarIcon {
  float: left;
  margin: 0;
  margin-left: 9px;
  padding: 12px;
  max-width: 10px;
  background-size: contain;
  opacity: 1.0;
  margin-top: 8px;

  background-image: url("../images/folder.png");
}

.headerDisplay {
  height: 35px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.finderTopBarText {
  margin-left: 0;
  height: 35px;
  width: 200px;
  overflow: hidden;
  position: absolute;
}

.finderTopBarText p {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 1px;
  font-family: RalewayReg, sans-serif;
}


.bottomElemeents {
  padding-top: 0;
  margin-top: 70px;
  width: 700px;
  height: 430px;
}



.finderSideBar {
  float: left;
  width: 130px;
  height: 380px;

  background-size: cover;

  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/finderSideBar.png");



}
.finderSideBarImage {
  position: absolute;
  float: left;
  width: 130px;
  height: 380px;

  background-size: cover;

  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/finderSideBar.png");
  opacity: 0.99;

}

.finderFilesBar {
  float: left;
  width: 180px;
  height: 380px;
  background-size: cover;

  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/finderFilesBar.png");
}

.finderDescriptionBar {
  float: left;
  width: 290px;
  height: 380px;

  background-image: url("../images/finderDescriptionBar.png");

}

#findSideTopBar {
  height: 25px;
  width: 100px;
  margin-left: 12px;

  font-family: RalewayBld, sans-serif;
  font-size: 13px;
  color: #666666;

}

#findSideTopBar p {

}

#myGroup0 {

  background-color: #eef2f2;
  height: 32px;
  width: 198px;
}


#myFiles0 {
  height: 36px;
  width: 198px;
  color: #333333;

}

#descReadmeTutorial {
  height: 380px;
  width: 290px;
  bottom: 0;
}

#descDescription {
  margin-top: 0px;
}

#descDescription p{
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  text-align: left;
  font-size: 14px;
  font-family: RalewayReg, sans-serif;
  color: #333333;

}
#descDescription h1{
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 19px;
  font-family: RalewayReg;
  color: #333333;

}
#descDescription h2{
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -12px;
  text-align: center;
  font-size: 14px;
  font-family: RalewayRegIta, sans-serif;
  color: #333333;

}

#myProfile p {

}



#profileDiv {
  height: 35px;
  width: 100px;
  overflow: hidden;
  padding-left: 48px;
  position: absolute;
  opacity: 1.0;
}

#profileDiv p {
  font-size: 13px;
  margin-top: 17px;
  line-height: 1px;
  font-family: RalewayMed, sans-serif;

}

#filesDiv {
  height: 32px;
  width: 178;
  overflow: hidden;
  padding-left: 35px;
  position: absolute;
}

#filesDiv p {
  font-size: 13px;
  margin-top: 18.5px;
  line-height: 0px;
  font-family: RalewayMed, sans-serif;
}

#datesContainer {
  margin: 0px auto;
  height: 72px;
  width: 300px;
}

#datesTitle {
  line-height:  3px;
  float: left;
  height: 72px;
  text-align: right;
  font-family: RalewayMed, sans-serif;
  color: #888888;
  font-size: 12px;
  width: 90px;

}

#datesText {
  line-height:  3px;
  margin-left: 10px;
  float: left;
  height: 72px;
  width: 200px;
  text-align: left;
  color: #333333;
  font-size: 12px;
  font-family: RalewayMed, sans-serif;
}

#chartEnclosure {
  margin-left: 20px;
  width: 250px;
  height: 230px;
  position: static;
  z-index: -1;
  opacity: 1;
}

#footer {
  width: 100%;
  height: 50px;
  margin-top: -70px;
  text-align: center;
}

#bottomText {
  display: inline-block;
  position:fixed;
  bottom:0;
  width: 300px;
  margin-left: -150px;
  margin-top: -15px;
  height: 60px;
  background-color: #DDDDDD;
  opacity: 0.9;
}

#bottomText p {
  text-align: center;
  font-size: 15px;
  color: #333333;
  font-family: RalewayMed, sans-serif;
}

.draggable {
}

#containment-wrapper {

  position: static;
  height: 88vh;
  width: 100%;

}

#widespace {
  width: 1000px;
}


.Icon1 {
  margin: 5px;
  height: 40px;
  width: 40px;
  float: left;
  background-size: cover;


}
.Icon1:hover {
  -webkit-filter: drop-shadow(0 0 10px rgba(255,255,255,.7));
  -moz-filter: drop-shadow(0 0px 10px  rgba(255,255,255,.7));
  -ms-filter: drop-shadow(0 0px 10px  rgba(255,255,255,.7));
  -o-filter: drop-shadow(0 0px 10px  rgba(255,255,255,.7));
  filter: drop-shadow(0 0px 10px  rgba(255,255,255,.7));
}
