
body {

background-image: url("./images/triangulated-image.png");
/*background-size: cover;*/
background-size: 100% 100%;
background-attachment: fixed;
}

#bodyBackground {
  height: 100%;
  width: 100%;
  /*background-color: #FFFFFF;*/
  position:absolute;

}
